* {
  margin:0; padding:0;
  box-sizing: border-box;
}

.bio {
  color: white;
  font-family: Times New Roman;
}
.hi {
  color: white;
}

.link {
  text-decoration: none;
  color: #de44e6;
}

p.hei {
  margin-top: -22px;
  font-style: italic;
}

.hei a {
  color: #de44e6;
}

@media screen and (min-width: 501px) {

.navbar {
  overflow: hidden;
  background-color: #ddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
}

a.navbar2 {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 15px;
}

.navbar a:hover {
  background: #de44e6;
  color: black;
}

}

h1.h {
font-style: italic;
font-family: Palatino Linotype;
}

h2.h {
font-style: italic;
font-family: Candara;
}

body {
margin: 0;
font-family: Segoe UI;
}

.article {
color: white;
font-family: Palatino Linotype;
font-size: 15px;
text-align: top;
}

.header {
overflow: hidden;
background-color: #000620;
padding: 20px 10px;
}

.header a {
float: left;
color: white;
text-align: center;
padding: 10px;
text-decoration: none;
font-size: 18px;
line-height: 20px;
border-radius: 6px;
}

.header a.logo {
font-size: 25px;
font-weight: bold;
text-decoration: underline overline white;
color: white;
}

.header a.logo:hover {
font-size: 25px;
font-weight: bold;
text-decoration: underline overline #de44e6;
color: #de44e6;
}

.header a:hover {
background-color: #000610;
color: #de44e6;
}

.header a.active {
background-color: #de44e6;
color: white;
}

.header-right {
float: right;
}

@media screen and (max-width: 500px) {
.header a {
float: none;
display: block;
text-align: left;
}



.header-right {
float: none;
}


